<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.islaami.playmi2021">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".PlaymiApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".ui.auth.UnderageActivity"
            android:theme="@style/SpecialTheme"/>
        <activity
            android:name=".ui.setting.LegalActivity"
            android:theme="@style/SpecialTheme" />
        <activity android:name=".ui.auth.VerificationActivity" />
        <activity
            android:name=".ui.video.VideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/VideoTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="islaami.id"
                    android:pathPrefix="/videos"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:theme="@style/SpecialTheme" />
        <activity
            android:name=".ui.channel.ChannelDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.setting.recommendation.RecommendationActivity"
            android:theme="@style/SpecialTheme" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:theme="@style/SpecialTheme" />
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.search.VideoSearchActivity" />
        </activity>
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="islaami.id"
                    android:pathPattern="/verify"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.intro.IntroActivity" />
        <activity
            android:name=".ui.intro.LauncherActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.playlist.PlaylistDetailActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.search.VideoSearchActivity" />
        </activity>
        <activity android:name=".ui.playlist.WatchLaterActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.search.VideoSearchActivity" />
        </activity>
        <activity
            android:name=".ui.setting.report.ReportActivity"
            android:theme="@style/SpecialTheme" />
        <activity
            android:name=".ui.setting.insight.InsightActivity"
            android:theme="@style/SpecialTheme" />
        <activity android:name=".ui.setting.collaborate.CollaborateActivity" />
        <activity android:name=".ui.auth.ResetPasswordActivity" />
        <activity
            android:name=".ui.search.VideoSearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.video.VideoSubcategoryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.video.VideoLabelActivity"
            android:launchMode="singleTop" /> <!-- METAS -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!--
Set custom default playmi_icon. This is used when no playmi_icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />
        <!--
Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/accent" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_app_id" /> <!-- PROVIDERS -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="id.islaami.playmi2021.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- SERVICES -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>